
body {
  margin: 0;
  text-align: center;

}

h1 {
  margin: 0;
  color: #45b29a;
  font-family: 'Merriweather', serif;

}

h2 {
  color: #45b29a;
  font-family: 'Lobster', cursive;
}

p {
  font-style: normal;
  color: #45b29a;
  font-family: 'Quicksand', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  text-shadow: 10px;
  border-width: thick;
  align-items: center;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
}

button {
  background: #45b29a;
  height: 50px;
  width: 150px;
  border-radius: 3%;
  border: 0;

  }

#headlines {
  font-weight: 500px;
  font-family: 'Sacramento', cursive;
}

#div-one {
  padding-top: 50px;
  background-color: #E0EBE8;
  margin-top: 0px;
}

#div-two {
  background-color: #fff;
  height: auto;
}


#div-three {
  background-color: #E0EBE8;
  height: 150px;
}

#hi-para {
  text-overflow: clip;
  color: #545454;
  padding: 0 20% 0 20%;
  font-size: 1.5em;
  margin-bottom: 100px;
}

.web-design {
  padding: 0 10% 0 10%;
  font-size: 1.5em;
  color: #545454;
}

