/* BODy STYLE */

body {
  background-color: #A9FFF7;
  text-align: center;
  padding-top: 5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.5rem;
  color: #45b29a;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 3em;
  color: #45b29a;
  font-family: 'Quicksand', sans-serif;
  display: inline;
  font-weight: bold;
}

p {
  font-size: 2.5em;
  line-height: 2;
  margin: 0 10%;
  font-style: normal;
  color: #545454;
  font-family: 'Quicksand', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  align-items: center;
  border-color: grey;
  border-width: 5px;
  width: 10%;
  text-shadow: 10px;
  border-width: thick;
  margin: 10% 0;
  position: static;
  margin-left: 45%;

}

a:hover {
  color: #030303;
}

img {
  height: 15%;
  width: 15%;
}

/* NAVBAR SECTION */

@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#navbar {
  padding-right: 10px;
  display: contents;
  justify-content: right;
  align-items: right;
  min-height: 100vh;
  overflow: hidden;
}
ul {
  position: relative;
}
ul li {
  list-style: none;
  text-align: right;
}
ul li a {
  color: #333;
  text-decoration: none;
  font-size: 3em;
  padding: 5px 20px;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
ul:hover li a {
  color: #0002;
}
ul li:hover a {
  color: #000;
  background: rgba(255, 255, 255, 1);
}
ul li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing 0.5s, left 0.5s;
}
ul li a:hover:before {
  content: attr(data-text);
  opacity: 1;
  left: 50%;
  letter-spacing: 10px;
  width: 1000px;
  height: 1000px;
}

ul li:nth-child(6n + 1) a:before {
  background: #55efc4;
}
ul li:nth-child(6n + 2) a:before {
  background: #a29bfe;
}
ul li:nth-child(6n + 3) a:before {
  background: #fd79a8;
}


/* HEADING, NAME */
#heading .name {
  letter-spacing: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 420%;
  width: 90%;
  margin: 50px 0 0 5%;
  color: #000;
  background: rgba(255, 255, 255, 1);
}

#heading .name:hover {
  transition: color .4s ease-in-out, box-shadow .3s ease-in-out;
  color: #fff;
  box-shadow: inset 830px 0 0 0 rgb(110, 214, 233);
  font-size: 5em;
}



/* ************MOUNTAIN********* */

body {
  width: 100%;
  animation: mount 0.9s;
}

@keyframes mount {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }

}


/**************************** ABOUT SECTION ***********************/

/* about animi effects */
#content{
  animation: transin 2s;
}


@keyframes transin {
  from {
    opacity: 0;
    transform: translateY(150px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

/* hover */

.about-hover {
  margin-bottom: 5%;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #70dbdf;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  color: #2c2e2c;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

.about-hover:hover {
  color: #fff;
  box-shadow: inset 800px 0 0 0 #030303;
}

#content img {
  padding-bottom: 50px;
}

p:hover {
  color: rgba(255, 255, 255, 1);
  /* box-shadow: inset 100px 1 1 1 #030303; */
}
/******************* First Row Structure *********************************/



.bottom-div {
  margin: 10% 0;
  background-color: #45b29a;
  height: 3em;
  -webkit-border-radius:5px;
  width: 15%;
  border-width: 0;
  font-size: 1em;
  color: #1b7f69;
  margin: 100px auto;
  display: inline-block;
  text-decoration: none;

}



/************Footer Section****************/

#footer {
  position: static;
  word-spacing: 3px;
  padding-top: 100px;
  background-color: #fff;
  height: 250px;
  width: 100%;
}

#footer .copyright {
  padding-top: 2%;
  font-size: 1.5em;
  line-height: 2;
  color: #010f0f;
  font-weight: normal;
}

#footer .copyright .copyright-person:hover{
  color: red;
}

.social-icons {
  margin-left: 20px;
  height: 40px;
  width: 40px;
}

/********************************************** MESSEGE ME *******************************/
.anchor-tag {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.anchor-tag::before,
.anchor-tag::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.anchor-tag::before {
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
.anchor-tag::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.anchor-tag:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.anchor-tag:hover::after {
  transform: translate3d(0, 0, 0);
}

.anchor-tag span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

.anchor-tag:hover span {
  transform: translate3d(-200%, 0, 0);
}


.anchor-tag {
  text-decoration: none;
  font-weight: 700;
  vertical-align: top;
}


/* MSG BUTTON */

